@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  :root {
    --primary: white;
    --secondary: #DDD0c8;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
body{
    @apply bg-[#DDD0C8] h-full overflow-x-hidden;
}

#__next{
    @apply h-full;
}

html{
    @apply h-full;
}