@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color-light: #FAE3D9;
    --selection-color-light: #BBDED6;
    --secondary-color-light: #FFB6B9;
    --icon-color-light: #FFFF;
    --text-color-light: #334155;
    
    --primary-color-dark: #FAE3D9;
    --selection-color-dark: #BBDED6;
    --secondary-color-dark: #FFB6B9;
    --icon-color-dark: #8AC6D1;
  }

body{
    @apply dark:bg-slate-700  /* from-yellow-500 via-purple-500 to-blue-500 */ bg-[#FFB6B9] bg-no-repeat bg-fixed min-h-[100vh] scroll-smooth dark:scrollbar-track-teal-500 dark:scrollbar-thumb-slate-600 scrollbar-thumb-rounded-3xl scrollbar-thin scrollbar-track-[#FFB6B9] scrollbar-thumb-[#8AC6D1];
}

#__next{
    @apply min-h-[100vh] w-full;
}

html{
    @apply w-full h-full box-border scroll-smooth;
}

*{
    box-sizing: inherit;
    /* border: 1px solid red;  */
}
@keyframes fateIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }
.animation-container{
    animation: fadeIn .8s ease-in-out
}
